APP_ENV=test
APP_DEBUG=false
APP_LOG_LEVEL=warning

POSTGRES_DB=ourrag_test
POSTGRES_USER=ourrag
POSTGRES_PASSWORD=ourrag

QDRANT_COLLECTION=document_chunks_test
FILES_STORAGE_ROOT=/tmp/ourrag-test-storage
